<launch>
  <!-- Simulation Time -->
  <param name="use_sim_time" value="true"/>

  <!-- Arguments -->
  <arg name="robot_model" default="$(find ulrich_robot)/urdf/ulrich_robot/ulrich.urdf.xacro"/>
  <arg name="enable_gui" default="true"/>
  <arg name="rviz_config" default="$(find multi_robot)/rviz/urdf.rviz"/>
  <arg name="world_file" default="$(find turtlebot3_gazebo)/worlds/turtlebot3_house.world"/>

  <!-- Robot Description -->
  <param name="robot_description" command="$(find xacro)/xacro $(arg robot_model)" />

  <!-- Joint State Publisher 
  <node if="$(arg enable_gui)" name="joint_state_publisher_gui" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui" />
  <node unless="$(arg enable_gui)" name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />  -->

  <!-- Robot State Publisher -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" output="screen" />

  <!-- Gazebo Launch -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(arg world_file)"/>
  </include>
  
  <!-- Robot Spawn -->
  <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" output="screen"
        args="-param robot_description -urdf -model ulrich_robot -x -6 -y 3 -z 0" />

</launch>



